// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin large-heading {
    font-size: var(--font-large);
    line-height: var(--line-large);
    letter-spacing: var(--letter-large);
    font-weight: var(--font-bold);
}

@mixin medium-heading {
    font-size: var(--font-medium);
    line-height: var(--line-medium);
    font-weight: var(--font-bold);
}

@mixin small-heading {
    font-size: var(--font-small);
    line-height: var(--line-medium);
    font-weight: var(--font-bold);
}

@mixin xs-heading {
    font-size: var(--font-xs);
    line-height: var(--line-small);
    letter-spacing: var(--letter-small);
    font-weight: var(--font-bold);
}

@mixin body {
    font-size: var(--font-tinny);
    line-height: var(--line-medium);
    font-weight: var(--font-regular);
}
