// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
	box-sizing: border-box;
}


// base animations
@keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
}